# ======================
# Large data files
# ======================
data/train/
data/valid/
data/test/
data/*.json

# ======================
# Model weights
# ======================
models/
*.pth
*.pt
*.onnx
*.tflite

# ======================
# Results & outputs
# ======================
results/yolov11/runs/
results/**/*.jpg
results/**/*.png
results/temp_eval.json

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
env/
*.egg-info/
dist/
build/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Docs
# ======================
docs/
